#radcontentcontainer {
  position:relative;
  width:220px;
  height:280px;
}

#radview {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
}

#radcontent {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
}

.raditem {
  position:absolute;
  /* height and top set by script */
  width: 100%;
  left: 0px; right: 0px;
}

.raditem.girl .raditemcontent{
  background: #FFD6ED
}

.raditem.boy .raditemcontent{
  background: #8ED2E2;
}

.raditemcontent{
  position:absolute;
  left:2px;right:2px;top:2px;bottom:2px;
  
  /*border: 1px solid blue;*/
  
  text-align: center;
  padding-top: 8px;
  
  font-size: 17pt;
  font-family: sans-serif;
  
  border-radius:10px;
}


/*
// HANDLE
*/
#radhandle {
  width: 50px;
  height: 220px;
  position:relative;
}
#radhandlebg {
  position:absolute;
  width: 37px;
  height: 27px;
  top:160px;
  
  background-image: url("../img/handle_corner.png");
}
#radhandletop {
  position:absolute;
  width: 30px;
  height: 30px;
  left: 17px;
  top: 10px;
  
  
  
  transition: top 1s;
  -moz-transition: top 1s; /* Firefox 4 */
  -webkit-transition: top 1s; /* Safari and Chrome */
  -o-transition: top 1s; /* Opera */
  
  
  background-image:url("../img/handle_top.png");
  
  z-index: 6;
}
#radhandlebar {
  left:25px;
  position:absolute;
  width: 13px;
  height: 150px;
  top: 25px;
  
  z-index: 5;
  
  background-image:url("../img/handle_bar.png");
  background-position: left 0px;
  
  transition: top 1s, height 1s, background-position 1s;
  -moz-transition: top 1s, height 1s, background-position 1s; /* Firefox 4 */
  -webkit-transition: top 1s, height 1s, background-position 1s; /* Safari and Chrome */
  -o-transition: top 1s, height 1s, background-position 1s; /* Opera */
}

#radhandle.down {}
#radhandle.down #radhandlebg {
}
#radhandle.down #radhandletop {
  top: 120px;
}
#radhandle.down #radhandlebar {
  height: 30px;
  top: 145px;
  
  background-position: left -250px;
}


/* TOTAL */

#radtotal {
  float:clear;
  overflow:hidden;
  
  /* center*/
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  
  padding:20px;
  
  background-color: #007A9C;
  
  border-radius:10px;
}

#radcontentcontainer {
  float:left;
  
  background-color: #D68BB5;
  padding: 20px;
  
  border-radius:10px;
}

#radhandlecontainer {
  margin-top:50px;
  float:left;
}

#radmachine{
  overflow:hidden;
}

#radmenu {
  clear:both;
  margin-top: 20px;
}

#radmenu .button{
  width: 45px;
  height:28px;
}